html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.container {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 62.5%;
  width: 100%; }

/* Nav Styles
=============*/
nav {
  background-color: #999;
  background-image: -webkit-linear-gradient(#999, #ddd);
  background-image: linear-gradient(#999, #ddd, , , , , , , , );
  font-family: "Poiret One", sans-serif;
  font-size: 1.8em;
  height: 115px; }
  nav .logo {
    margin-left: 40px;
    padding-top: 10px; }
    nav .logo i {
      display: inline-block; }
    nav .logo h1 {
      display: inline-block; }

/* Form Styles
==============*/
.input {
  background-color: #dedede;
  background-image: -webkit-linear-gradient(#dedede, #999);
  background-image: linear-gradient(#dedede, #999, , , , , , , , );
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  height: 100vh;
  border-right: 1px solid #c8c8c8; }
  .input:last-child {
    margin-right: 0; }
  .input form {
    font-size: 1.5em;
    margin-top: 50px; }
    .input form input {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .input form input:focus {
      outline: 1px solid green; }
    .input form button {
      display: block;
      text-align: center;
      background-color: green;
      border: 1px solid green;
      color: white;
      border-radius: 5px;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      width: 152px; }
    .input form button:hover {
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      background-color: white;
      color: green; }

/* Contact List Style
=====================*/
.list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #fefefe;
  color: #999;
  font-size: 1.8em;
  margin-top: 50px; }
  .list:last-child {
    margin-right: 0; }
  .list ul {
    padding-top: 20px;
    padding-left: 25px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #d2d2d2; }
    .list ul li {
      list-style-type: none; }
    .list ul h3 {
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      border: 1px solid red;
      color: red;
      border-radius: 5px;
      font-size: 0.8em;
      width: 50px;
      text-align: center;
      margin-right: 20px;
      margin-left: auto; }
    .list ul h3:hover {
      background-color: red;
      color: white; }

.list:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: #000; }
