@import "bourbon/bourbon";
@import "neat/neat";

$fontLogo: 'Poiret One', sans-serif;
$fontBody: 'Source Sans Pro', sans-serif;

.container {
  font-family: $fontBody;
  font-size: 62.5%;
  width: 100%;
}

/* Nav Styles
=============*/

nav {
  @include linear-gradient(#999, #ddd);
  font-family: $fontLogo;
  font-size: 1.8em;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
  height: 65px;

  .logo {
    margin-left: 30px;

    i {
      display: inline-block;
    }

    h1 {
      display: inline-block;
    }
  }


}


/* Form Styles
==============*/
.input {
  @include span-columns(2);
  border: 1px solid rgba(210, 210, 210, 1);
  height: 100vh;

  form {
    font-size: 1.5em;
    margin-top: 50px;


    input {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    button {
      display: block;
      text-align: center;
      background-color: white;
      border: 1px solid green;
      color: green;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
    }

    button:hover {
      background-color: green;
      color: white;
    }
  }
}

/* Contact List Style
=====================*/

.list {
  font-size: 1.8em;
  margin-top: 50px;

  ul {
      @include span-columns(3);
      border: 1px solid rgba(210, 210, 210, 1);

    li {
      list-style-type: none;
    }

  h3 {
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    font-size: 0.8em;
    width: 50px;
    text-align: center;
  }

  h3:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
  }
}
}
