form {
  width: 40%;
  margin: 100px auto;

  #name {
    display: block;
  }

  #address {
    display: block;
  }

  #email {
    display: block;
  }

  button {
    display: block;
    text-align: center;
  }
}
